body, html {
    height: 100%;
    background-color: #fcfcfc;
}

.clickable-row:hover {
    background-color: rgba(34, 134, 116, 0.5);
}

.navbar-custom {
    background-color: rgba(34, 134, 116, 1);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255, .8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255, 1);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-brand {
    color: rgba(255, 255, 255, 1);
}
